.section-starfield {
	.starfield-container{
		position: relative;
		height: 500px;
		color: #fff; 
		.starfield-content{
			text-align: center;
			.sigs-text{
				text-transform: uppercase; 
				letter-spacing: 2px;
				margin: 15px 0;
				
			}
			
		}
		.sigs-icons{
			position: absolute; 
			bottom: 10px;
			font-size: 40px;
			margin: 20px 0 0;
			width: 100%; 
			text-align: center;
			a{
				display: inline-block;
				text-align: center;
				margin: 0 13px;
				i{
					color: rgba(255,255,255,.5); 
				}
				
				&:hover i{
					color: rgba(255,255,255,1); 
				}
			}
		}
		.starfield  { 
			height:100%; 
			position:absolute; 
			width:100%; 
			z-index:0; 
		}
	}
	
}